.chord_info {
    display: none;

    border-radius: 25px;
    border: 2px solid #248a6d;
    margin: 50px 50px 50px 50px;

    line-height: 0.5;
    text-align: center;
}

#id_tempo {
    width: 100%;
}

#id_lowest_note {
    width: 100%;
}

#id_highest_note {
    width: 100%;
}
