.score_points {
    color: #248a6d;
    background: none;
    font-weight: bold;
}

.score_total {
    background: none;
    font-weight: bold;
    width: 100%;
}

#id_tempo {
    width: 100%;
}

#id_lowest_note {
    width: 100%;
}

#id_highest_note {
    width: 100%;
}
