#id_tempo {
    width: 100%;
}

#id_groups {
    width: 100%;
}

#id_measures {
    width: 100%;
}

#id_time_signature_numerator {
    width: 100%;
}

#id_time_signature_denominator {
    width: 100%;
}

#id_custom_phrases {
    width: 100%;
}