<!doctype html>

<head>
	<link rel="stylesheet" href="{{ request.url_for('static', path='css/style.css') }}">
	<link rel="stylesheet" href="{{ request.url_for('static', path='css/inversions.css') }}">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A simple interval generator.">
	<meta name="author" content="Jakim">
	<title>Interval generator</title>
</head>

<body>
	<div class="main">
		<p>
		<h1>Intervals Generator v0.1</h1>

		<p style="text-align: center">Generate a random interval.</p>
	</div>

	<div class="row">
		<div class="column_right">
			<div style="text-align: center">
				<input type="button" id="play_again" value="Play again" class="play">
			</div>

			<div class="flex">
				<div id="interval_buttons">
				</div>
			</div>

			<div id="score_info">
				<p style="text-align: center">Score: <mark id="points" class="score_points">0</mark>/<mark id="total"
						class="score_total">0</mark></p>
			</div>

			<div id="interval_info" class="info">
				<p><strong>Interval info:</strong></p>
				<p id="interval_type"></p>
				<p id="interval"></p>
			</div>

			<div class="table">
				<p id="image"><img src="" alt="" id="interval_image" class="image"></p>
			</div>
		</div>

		<div class="column_left">
		<form method="post" id="settings_form" data-api-url="/api/intervals/submit"
			data-config-url="/api/intervals/config">
				<div class="table">
					<div class="table_row" style="text-align: center">
						<input type="submit" id="submit" value="Generate interval">
					</div>
					<div id="form_fields"></div>
				</div>
			</form>
		</div>
	</div>

	<script type="module" src="{{ request.url_for('static', path='js/modules/intervals.js') }}"></script>
</body>