<!doctype html>
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/inversions.css' %}">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A simple chord inversion generator.">
	<meta name="author" content="Jakim">
	<title>Chord inversions generator</title>
</head>

<body onload="initialize();">
	<script src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous">
	</script>

	<script src="{% static 'js/play.js' %}"></script>
	<script src="{% static 'js/json.js' %}"></script>
	<script src="{% static 'js/score.js' %}"></script>

	<script type="text/javascript">
		function initialize() {
			score = new Score();
			hideChordInfo();
		}

		function updateScore(point) {
			score.update(point);
			$("#points").text(score.points);
			$("#total").text(score.total);
		}

		function hideChordInfo() {
			$("#score_info").hide(0);
			$("#chord_info").hide(0);
			$("#play_again").hide(0);
		}

		function setChordInfo(data) {
			var inversion = data.inversion_index;
			var chord_type = data.base_note + data.chord_type;
			var chord_inversion = inversionText(data.inversion_index);

			$('#chord_type').text(chord_type);
			$('#chord_inversion').text(chord_inversion);
		}

		function inversionText(index) {
			var text = "";
			if (index == 0) {
				text += "Root position";
			} else {
				text += "Inversion no. " + index;
			}

			return text;
		}

		function addButtons(number_of_buttons) {
			inversion_buttons = document.getElementById("inversion_buttons");
			chord_info = document.getElementById("chord_info");
			while (inversion_buttons.firstChild) {
				inversion_buttons.removeChild(inversion_buttons.lastChild);
		  	}

			for (var index = 0; index < number_of_buttons; index++) {
				var button = document.createElement('input');
				var text = inversionText(index);
				button.type = 'button';
				button.className = 'input';
				button.id = 'submit';
				button.value = text;

				button.onclick = function() {
					$("#score_info").show(100);
					$("#chord_info").show(100);
					$("#chord_info").css('visibility', 'visible');
					if (this.value == $('#chord_inversion').text()) {
						chord_info.style.borderColor = "#248a6d";
						this.style.background = "green";
						updateScore(1);
					} else {
						chord_info.style.borderColor = "red";
						this.style.background = "red";
						updateScore(0);
					}
				};

				inversion_buttons.appendChild(button);
			}
		}

		function ajax(event) {
			event.preventDefault();
			$.ajax({
				type: 'POST',
				url: "{% url 'submit_inversion' %}",
				data: {
					submit: $('#settings_form').serialize(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				},
				success: function(response) {
					if ('directory' in response) {
						directory = response.directory;
						audio_source = response.chord_audio;
						playSound(directory, audio_source);
						openJSON(directory, response.chord_info, setChordInfo);

						$("#play_again").show(100);
						$("#play_again").css('visibility', 'visible');
						$("#chord_info").css('visibility', 'hidden');
						score.unlock();
					}

					if ('max_inversion_index' in response) {
						addButtons(response.max_inversion_index);
					}
				},
				error: function(response){
					alert('Bad request');
				}
			});
		}
	</script>

	<div class="main">
		<p><h1>Chord Inversions Generator v0.1</h1>

		<p style="text-align: center">Generate a random chord inversion.</p>
	</div>

	<div class="row">
		<div class="column_right">
			<div onclick="playAgain(directory, audio_source)" style="text-align: center">
				<input type="button" id="play_again" value="Play again" class="play">
			</div>

			<div class="flex">
				<div id="inversion_buttons">
				</div>
			</div>

			<div id="score_info">
				<p style="text-align: center">Score: <mark id="points" class="score_points">0</mark>/<mark id="total" class="score_total">0</mark></p>
			</div>

			<div id="chord_info" class="info">
				<p><strong>Chord info:</strong></p>
				<p id="chord_type"></p>
				<p id="chord_inversion"></p>
			</div>
		</div>

		<div class="column_left">
			<form method="post" id="settings_form" onsubmit="ajax(event)">
				{% csrf_token %}
				<div class="table">
					<div class="table_row" style="text-align: center">
						<input type="submit" id="submit" value="Generate inversion">
					</div>

					<div class="table_row">
						<p><label for="Options"><strong>Options</strong></label></p>
						<div class="table_column_left">
							<div>{{ form.sequential }}{{ form.sequential.label }}</div>
						</div>
					</div>

					<div class="table_row">
						<div><p><label for="{{ form.tempo.label }}"><strong>{{ form.tempo.label }}</strong>:</label></p></div>
						<div>{{ form.tempo }}</div>
					</div>

					<div class="table_row">
						<p><label for="Notes range"><strong>Notes range</strong></label></p>
						<div class="table_column_left">
							<div class="widget"><p><label for="{{ form.lowest_note.label }}"><strong>{{ form.lowest_note.label }}</strong>:</label></p></div>
							<div class="widget">{{ form.lowest_note }}</div>
						</div>
						<div class="table_column_right">
							<div class="widget"><p><label for="{{ form.highest_note.label }}"><strong>{{ form.highest_note.label }}</strong>:</label></p></div>
							<div class="widget">{{ form.highest_note }}</div>
						</div>
					</div>

					<div class="table_row">
						<p><label for="Chords"><strong>Chords</strong></label></p>
						<div class="table_column_left">
							{% for chord in form.get_chords %}
							<div>{{ chord }}{{ chord.label }}</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
